% see http://erlang.org/doc/man/config.html for more information about this file

[
  % define an erlang environment value to specify where the riak_ensemble
  % data will be stored, this value can be retrieved from the application
  % using application:get_env/2,3 see
  % http://erlang.org/doc/apps/kernel/application.html#get_env-1
  % for more information

  {riak_ensemble, [{data_root, "./cadena_data/"}]},
].
